{% extends "base.html" %}

{% block title %} Questions {% endblock %}

{% block menu %}
		<li class="active"><a href="#">Questions<span class="sr-only">(current)</span></a></li>
		<li><a href="/ask">Ask</a></li>
{% endblock %}

{% block main %} 
    {% for post in posts %}
	<div class="panel panel-success">
	    <div class="panel-heading">{{post.title}}</div>
	    <div class="panel-body">
		<p>{{post.text}}</p>
		<a class="btn btn-sm btn-info" href="/question/{{ post.id }}/">Answer &raquo;</a>
	    </div>
	</div>
    {% endfor %}
    <nav><ul class="pagination">
	{% for p in paginator.page_range %}
	    {% if p == page.number %}
	    <li class="active">
	    {% else %}
	    <li>
	    {% endif %}
		<a href="/?page={{ p }}">{{ p }}</a>
	    </li>
	{% endfor %}
    </ul></nav>
{% endblock %}
